{% extends 'base.html' %}
{% block title %}New User{% endblock %}


{% block content %}


<form action="/users/new" method ="POST">

<div class = "form_input">
<label for="">First Name </label>
<input type="text" name ="first_name">
</div>

<div class = "form_input">
<label for="">Last Name </label>
<input type="text" name="last_name">
</div>

<div class = "form_input">
<label for="">Image URL </label>
<input type="text" name="image_url">
</div>


<button>Add</button>


</form>









{% endblock %}